<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보</title>
</head>
<body>
    <h1>회원 정보</h1>
    
    <table border="1" style="border-collapse: collapse;">
        <thead>
            <th>회원번호</th>
            <th>회원아이디</th>
            <th>회원이름</th>
            <th>회원나이</th>
        </thead>

        <tbody id="selectBody">
            <tr th:each="user : ${userList}" th:object="${user}">
                <td th:th:text="*{userNo}"></td>
                <td th:th:text="*{userId}"></td>
                <td th:th:text="*{userName}"></td>
                <td th:th:text="*{userAge}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>