/* :root{
    --main-color : black;
}
 */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
}

header>section:nth-child(1) {width: 20%;}
header>section:nth-child(2) {width: 60%;}
header>section:nth-child(3) {width: 20%;}
